{:deps
 {org.clojure/clojure {:mvn/version "1.10.3"}
  metosin/jsonista {:mvn/version "0.2.5"}
  org.clojure/tools.reader {:mvn/version "1.3.4"}
  org.clojure/core.async {:mvn/version "1.1.587"}
  org.clojure/core.cache {:mvn/version "1.0.207"}
  babashka/fs {:mvn/version "0.1.0"}
  org.clojure/tools.namespace {:mvn/version "1.1.0"}
  carocad/parcera {:mvn/version "0.11.6"}
  org.antlr/antlr4-runtime {:mvn/version "4.7.1"}
  juji/editscript {:mvn/version "0.5.7"}
  hawk {:mvn/version "0.2.11"}
  com.nextjournal/beholder {:mvn/version "1.0.0"}
  techascent/tech.resource {:mvn/version "5.04"}
  integrant {:mvn/version "0.8.0"}
  org.scicloj/tempfiles {:mvn/version "1-alpha2"}
  org.scicloj/kindly {:mvn/version "1-alpha3"}
  scicloj/gorilla-notes {:mvn/version "0.6.3"
                         ;; avoid conflict with jsonista
                         :exclusions [com.fasterxml.jackson.core/jackson-core
                                      com.fasterxml.jackson.dataformat/jackson-dataformat-cbor
                                      com.fasterxml.jackson.dataformat/jackson-dataformat-smile
                                      com.fzakaria/slf4j-timbre]}
  com.fasterxml.jackson.core/jackson-core {:mvn/version "2.13.0"}
  com.fasterxml.jackson.core/jackson-annotations {:mvn/version "2.13.0"}
  com.fasterxml.jackson.dataformat/jackson-dataformat-cbor {:mvn/version "2.13.0"}
  com.fasterxml.jackson.dataformat/jackson-dataformat-smile {:mvn/version "2.13.0"}}}

